/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

main{
    padding: 5vh 5vw 5vh 5vw;
}

h1{
    font-size: 8vw;
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
    text-align: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}