/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap'); */

/* Perfect Pixel: x: 737 y: 94 0.4 */

:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

main{
    padding: 5.5vh 5vw 5vh 5vw;
}

h1{
    padding: 0 10vw;
    font-size: 10.5vw;
    color: var(--Very-Dark-Magenta);
    font-weight: 725;
    letter-spacing: -0.35vw;
    /* word-spacing: 1vw; */
    line-height: 8.5vw;
    text-align: center;
}

section p{
    padding: 1.2vh 0;
    text-align: center;
    font-size: 4.6vw;
    font-weight: 500;
    /* letter-spacing: 0.1vw; */
    line-height: 6vw;
    color: hsl(303, 10%, 53%);
}

.Rated{
    height: 80vw;
    padding: 1.8vh 0 1vh 0;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    height: 20vw;
    width: 100%;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.star {
    padding: 0 0.5vw;
    height: 4vw;
}

.box_text{
    padding-left: 1vw;
    color: var(--Very-Dark-Magenta);
    font-weight: 725;
    font-size: 4.6vw;
    letter-spacing: -0.01vw;
}

.container{
    height: 63vw;
    margin: 1.3vh 0;
    padding: 9vw;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 10px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.container_header {
    display: flex;
}

.container_header img {
    max-width: 100%;
    height: 10vw;
    margin: 0 7vw 0 0;
    border-radius: 50%;
}

.container_title {
    margin: 0 0;
    padding-top: 0.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_title h4 {
    margin: 0 0;
    padding-right: 23vw;
    color: white;
    font-size: 4.5vw;
}

.container_title p {
    padding: 0.1vh 25vw 0 0;
    color: hsl(333, 80%, 67%);
    font-size: 4vw;
}

.container_text {
    padding: 1.5vh 0 0 0;
    color: white;
    text-align: left;
    font-size: 4.3vw;
    line-height: 5.75vw;
}

.attribution {
    font-size: 3vw;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 1440px) {
    main {
        padding: 14.5vh 11.5vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 60% 40%;
        grid-template-areas:
        "main stars"
        "reviews reviews"
    }

    h1{
        padding: 0 8.5vw 0 0;
        font-size: 6.8vh;
        /* color: var(--Very-Dark-Magenta); */
        font-weight: 725;
        letter-spacing: -0.2vh;
        /* word-spacing: 1vw; */
        line-height: 6vh;
        text-align: left;
    }

    section p{
        padding: 3.1vh 9.2vw 0 0;
        text-align: left;
        font-size: 2.2vh;
        /* font-weight: 500; */
        letter-spacing: 0vw;
        word-spacing: -0.1vw;
        line-height: 3vh;
        /* color: hsl(303, 10%, 53%); */
    }

    .Rated{
        height: auto;
        /* padding: 1.8vh 0 1vh 0; */
        margin-bottom: 10vh;
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: center;
    }

    .box{
        height: 7vh;
        width: 31vw;
        /* width: 100%; */
        margin-bottom: 1.7vh;
        /* padding: 0 0 0 3vw; */
        /* background-color: hsl(300, 24%, 96%); */
        /* border-radius: 8px; */
        /* display: flex; */
        flex-direction: row;
        /* justify-content: start; */
        align-items: center;
    }

    .Rev {
        /* margin-right: 20vw; */
        /* padding-right: 15vw; */
        /* gap: 5vh; */
        position: relative;
        right: 3vw;
    }

    .Report {
        position: relative;
        left: 0.7vw;
    }

    .Report p {
        /* padding-left: 4vw; */
        position: relative;
        left: -2.2vw;
    }

    .BestTech {
        position: relative;
        left: 3.9vw;
    }

    .star {
        padding: 0 0.2vw;
        height: 1.9vh;
    }

    .box_text{
        padding-left: 0;
        /* color: var(--Very-Dark-Magenta); */
        /* font-weight: 725; */
        font-size: 2vh;
        letter-spacing: -0.01vw;
        position: relative;
        right: 3.3vw;
    }

    .reviews{
        display: flex;
        /* margin-bottom: 0vh; */
        position: relative;
        top: -4.3vh;
    }

    .container{
        height: 28.5vh;
        width: 24.4vw;
        margin: 1.5vh 2vw 0 0;
        padding: 4.7vh 2.26vw;
        /* background-color: var(--Very-Dark-Magenta); */
        /* border-radius: 10px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .Colton {
        position: relative;
        top: -0.2vh;
    }

    .Irene {
        position: relative;
        top: 1.8vh;
    }

    .Anne {
        position: relative;
        top: 3.7vh;
    }
    .container_header img {
        max-width: 100%;
        height: 5vh;
        margin: 0 1.5vw 0 0;
        /* border-radius: 50%; */
    }

    .container_title {
        margin: 0 0;
        padding-top: 0.3vh;
        /* display: flex; */
        /* flex-direction: column; */
        /* justify-content: center; */
    }

    .container_title h4 {
        margin: 0 0;
        padding-right: 5vh;
        /* color: white; */
        font-size: 2vh;
    }

    .container_title p {
        padding: 0 5vh 0 0;
        /* color: hsl(333, 80%, 67%); */
        font-size: 2vh;
    }
    
    .container_text {
        padding: 3vh 0 0 0;
        /* color: white; */
        /* text-align: left; */
        font-size: 2vh;
        line-height: 2.7vh;
        word-spacing: 0.0vw;
    }
    
    .attribution {
        font-size: 2vh;
        text-align: right;
    }
}